/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #212529; /* Color de texto predeterminado */
    background-image: url('assetes/IMG/321.jpg'); /* Agregar imagen de fondo */
    background-size: cover; /* Ajustar imagen al tamaño de la pantalla */
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Estilos para la barra de navegación */
.barra-interaccion {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.btn-primary,
.btn-success {
    font-size: 18px;
}

/* Estilos para el fondo separador */
.separador {
    background-color: #0e0303; 
    padding: 40px 0; 
    text-align: center; 
    color: #212529; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
}
